.wrapper {
  margin: 0 auto;
  max-width: 64rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

header {
  grid-column: span 2;
  text-align: center;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 2rem 0;
  background-color: #faebd7;
  border-radius: 15px;
}

main {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0 1.5rem;
}

main h1 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

footer {
  clear: both;
  grid-column: span 2;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #faebd7;
  padding: 2rem 0 1rem 0;
  border-radius: 15px;
}

nav {
  background-color: #faebd7;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 1.3rem;
  border-radius: 15px;
  max-height: max-content;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid silver;
  text-decoration: none;
}

nav a:hover {}

.month {
  border-top: 3px solid silver;
  padding: 1rem;
  display: grid;
  justify-content: start;
}

.month img {
  max-width: 250px;
  padding-bottom: .5rem;
  stroke: 1px solid white;
}

.month figure {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.month figcaption {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.playing {
  border-top: 3px solid silver;
  padding: 1rem;
  display: grid;
  justify-content: start;
}

.playing img {
  max-width: 180px;
}

.playing figcaption {
  padding: .5rem .5rem 0 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: .8rem;
}

.playing-figures figure {
  padding-right: 1rem;
}

.playing-figures {
  padding: 1rem;
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
}

.fav-games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fav-games img {
  max-width: 220px;
  padding: .5rem;
}
