body {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%239C92AC' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.wrapper {
  margin: 3rem auto;
  max-width: 64rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  background-color: white;
}

header {
  grid-column: span 2;
  text-align: center;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 2rem 0;
  background-color: #d8bbee;
  border-radius: 15px;
  max-width: 64rem;
}

main {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0 1.5rem;
  max-width: 60rem;
}

main h1 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

footer {
  clear: both;
  grid-column: span 2;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
   background-color: #d8bbee;
  padding: 2rem 0 1rem 0;
  border-radius: 15px;
}

nav {
  background-color: #d8bbee;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 1.3rem;
  border-radius: 15px;
  height: 300px;
  width: 200px;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
}

/* 2026 games */
.month {
  border-top: 3px solid silver;
  padding: 1rem;
  display: grid;
  justify-content: start;
}

.month img {
  max-width: 250px;
  padding-bottom: .5rem;
  stroke: 1px solid white;
}

.month figure {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.month figcaption {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.playing {
  border-top: 3px solid silver;
  padding: 1rem;
  display: grid;
  justify-content: start;
}

.playing img {
  max-width: 180px;
}

.playing figcaption {
  padding: .5rem .5rem 0 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: .8rem;
}

.playing-content figure {
  padding-right: 1rem;
}

.playing-content {
  padding: 1rem;
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
}

/* 2025 games */
.lastyear-favs img {
  padding-bottom: .5rem;
  max-width: 700px;
}

.lastyear-favs figcaption {
  padding-bottom: .7rem;
  font-size: 150%;
}

.lastyear-favs p {
  font-size: 97%;
  margin-right: 1.5rem;
}

.lastyear-favs h1 {
  border-top: 2.5pt solid silver;
  padding-top: 1rem;
}

/* upcoming 2026 games */
.upcoming {
  background-color: #f7f3fa;
  border: 3px dashed #d8bbee;
  border-radius: 5px;
  margin: 1rem 0;
}

.upcoming img {
  width: 230px;
  border-radius: 8px;
}

.upcoming figure {
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  align-items: center;

}

.upcoming figcaption {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 97%;
  line-height: 1.2rem;
  padding: 1rem;
}

/* home page */
.fav-games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fav-games img {
  max-width: 220px;
  padding: .5rem;
}
